:root {
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --gray-200: #e5e7eb;
    --bs-body-bg: black !important;
    --bs-body-color: var(--gray-200) !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

#main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding: 10px;
}

#content-container {
    flex-grow: 0;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#nav {
    width: 100%;
    justify-content: center;
    gap: 10px 15px;
    background-color: var(--zinc-900);
    border: 1px solid var(--zinc-700);
    padding: 8px;
    border-radius: 50px;
}

#nav a {
    text-decoration: none;
    color: var(--gray-200);
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#nav a:hover {
    background-color: white;
    color: var(--zinc-800);
    transform: scale(1.2);
}

.active {
    background-color: white;
    color: var(--zinc-800) !important;
}

.tooltip-inner {
    color: white !important;
}

main{
    height: 100%;
    background-color: var(--zinc-900);
    border: 1px solid var(--zinc-700);
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    color: var(--gray-200);
    font-size: small;
}

/* Media Queries */
/* sm */
@media (min-width: 576px) {

}
/* md */
@media (min-width: 768px) {
    #content-container {
        flex-grow: 1;
    }

    main {
        margin-top: 0;
    }

    #nav {
        width: fit-content;
    }
}
/* lg */
@media (min-width: 992px) {

}
/* xl */
@media (min-width: 1200px){

}
/* xxl */
@media (min-width: 1400px){

}
