:root {
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --gray-200: #e5e7eb;
    --bs-body-bg: black;
    --bs-body-color: var(--gray-200);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

#main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    padding: 10px 10px 0 10px;
}

#content-container {
    flex-grow: 0;
}

#menu {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
}

#nav {
    width: 100%;
    justify-content: center;
    gap: 10px 15px;
    background-color: var(--zinc-900);
    border: 1px solid var(--zinc-700);
    padding: 8px;
    border-radius: 50px;
}

#nav a {
    text-decoration: none;
    color: var(--gray-200);
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#nav a:hover {
    background-color: white;
    color: var(--zinc-800);
    transform: scale(1.2);
}

.active {
    background-color: white;
    color: var(--zinc-800) !important;
}

.tooltip-inner {
    color: white;
}

main{
    height: 100%;
    background-color: var(--zinc-900);
    border: 1px solid var(--zinc-700);
    border-radius: 20px;
    padding: 50px;
}

.index-main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.index-main-inner {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0;
    line-height: 0.5;
}

.index-main-inner > p {
    font-size: 15px;
    line-height: 1;
}

.index-header {
    font-size: 60px;
}

.index-nav {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.index-nav a {
    text-decoration: none;
    color: white;
    background-color: var(--zinc-700);
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--zinc-600);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.index-nav a:hover {
    background-color: var(--zinc-800);
    color: white;
    transform: scale(1.1);
}

.name {
    color: lightblue;
}

.home-image {
    background-color: white;
    width: 100%;
}

footer {
    padding: 5px;
    height: 30px;
    flex-shrink: 0;
    text-align: center;
    color: var(--gray-200);
    font-size: small;
}

/* Media Queries */
/* sm */
@media (min-width: 576px) {
    .home-image {
        width: 60%;
    }

    .index-main-inner > p {
        font-size: 18px;
        line-height: 1;
    }

    .index-header {
        font-size: 80px;
    }
}
/* md */
@media (min-width: 768px) {
    main {
        margin-top: 0;
    }

    #main-container {
        justify-content: center;
    }

    #nav {
        width: fit-content;
    }

    .index-nav a {
        font-size: 15px;
    }
}
/* lg */
@media (min-width: 992px) {
    #content-container {
        flex-grow: 1;
    }

    .index-main {
        flex-direction: row;
    }

    .home-image {
        width: 50%;
    }
}
/* xl */
@media (min-width: 1200px){
    .home-image {
        width: 40%;
    }

    .index-main-inner > p {
        font-size: 20px;
        line-height: 1;
        width: 80%;
    }

    .index-header {
        font-size: 100px;
    }
}
/* xxl */
@media (min-width: 1400px){
    .home-image {
        width: 30%;
    }
}
